.course-content-details
    .course-content-holder
        h1.bold {{course.title}}
        div(ng-repeat='content in course.contents')
            h3.bold {{content.subTitle}}
            div(ng-repeat='paragraph in content.paragraph')
                p {{paragraph}} 
