.quiz-holder(ng-app="quizApp", ng-controller="quizController")
    .col-xs-2
        p &nbsp;
    .col-xs-6
        h1 
            span Lets Take A Quiz
            span.pull-right Score = {{quiz.score}}


        div.border1Px
            h3 
                span.bold &nbsp; {{quiz.number}}. &nbsp
                span {{quiz.question}}

            div(ng-repeat="answer in quiz.answers")
                p.looksInput.lineHeight35.margin-left-answers-fix.col-xs-10.hover-lightUp.pointer( data-idQuestion = "{{quiz.idQuestion}}", ng-click="answerSelected($index, quiz.idQuestion)") &nbsp; {{answer.answer}}
                div.clearfix